@font-face {
    font-family: "Smooch";
    src: url('./font');
    font-display: swap;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Smooch";
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

button {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    border-style: none;
    width: 190px;
}

button:hover {
    padding: 10px;
    background-color: rgb(245, 245, 245);
    transition: 0.3s;
}

h1, h2, h3, h4, h5, h6, div, img {
    width: auto;
    height: auto;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(30, 30, 30);
    text-align: center;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, div:hover, img:hover {
    background-color: rgb(40, 40, 40);
    transition: 0.3s
}



#ClockMain {
    font-size: 240px;
    padding: 8px;
    width: 780px;
}

#ClockSub {
    justify-self: center;
}

#smallbox {
    width: 200px;
    height: 110px;
}

#invisidiv {
    display: flex;
    height: 422px;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

#settingsmallbox {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.checkbox {
    height:24px;
    width: 24px;
}

#formcorrection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
}

#weatherdiv {
    display: flex;
}

#weatherico {
    margin: 0px;
    padding: 0px;
    height: 64px;
    width: 64px;
}

#weathertexts {
    color: black;
    margin: 0px;
    padding: 0px;
}

#weathersubdivs {
    width: 130px;
    height: 180px;
}

#alarmpopup {
    display: block;
    position: absolute;
    width: 20%;
    height: 15%;
    top: 10%;
    left: auto;
    right: auto;
}

#settingspopup {
    display: block;
    position: absolute;
    width: 10%;
    height: 25%;
    top: 10%;
    left: auto;
    right: auto;
}

#todolist {
    overflow: auto;
}

#flex-no-overflow {
    display: flex;
    flex-wrap: nowrap;
}

.font-left {
    text-align: left;
}

.size-0-width {
    width: 210px;
}

.size-1-width {
    width: 420px;
}

.size-2-width {
    width: 840px;
}

#greencreatebutton {
    background-color: green;
}